openapi: 3.1.0
info:
  title: YuClaw Agent Research API
  version: v4.0
  summary: Unified, point-in-time, evidence-anchored research signals.
  description: 'ONE response contract (ResearchResponse) consumed by every YuClaw v4 surface: Memo Generator,
    MCP v2, REST, LangChain, LlamaIndex. Signal labels are research classifications, NOT buy/sell recommendations.
    Every response carries a required compliance block, an Evidence Quality Grade, explicit limitations,
    a ledger_hash for integrity, and a replay_id for point-in-time reconstruction. Grading: A = confidence>=0.75
    AND >=3 events with llm_confidence>=0.7; B = confidence>=0.55 AND >=1 event; C = confidence>=0.30;
    else Insufficient.'
  x-not-advice: Research and education only. Not investment advice.
servers:
- url: https://api.yuclaw.com
  description: production (planned)
paths:
  /v1/why/{ticker}:
    get:
      operationId: getWhy
      summary: Full research signal with evidence + component anatomy.
      parameters:
      - name: ticker
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Z][A-Z0-9.\-]{0,9}$
      - name: as_of
        in: query
        required: false
        description: ISO-8601 instant for point-in-time replay (default latest).
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Unified research response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResearchResponse'
        '404':
          description: No signal for ticker (still returns a compliance block)
  /v1/signal/{ticker}:
    get:
      operationId: getSignal
      summary: Same ResearchResponse; lightweight callers may ignore the evidence array.
      parameters:
      - name: ticker
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Z][A-Z0-9.\-]{0,9}$
      responses:
        '200':
          description: Unified research response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResearchResponse'
components:
  schemas:
    ResearchResponse:
      additionalProperties: false
      description: The single unified response. Every v4 surface returns exactly this shape.
      properties:
        schema_version:
          default: v4.0
          description: Schema contract version
          title: Schema Version
          type: string
        ticker:
          description: Uppercase ticker
          pattern: ^[A-Z][A-Z0-9.\-]{0,9}$
          title: Ticker
          type: string
        as_of:
          description: Point-in-time instant this signal reflects (ISO-8601, tz-aware)
          format: date-time
          title: As Of
          type: string
        replay_id:
          description: Opaque handle to reconstruct this exact response point-in-time
          title: Replay Id
          type: string
        signal:
          $ref: '#/components/schemas/SignalLabel'
          description: Locked public vocabulary label
        score:
          anyOf:
          - maximum: 1.0
            minimum: -1.0
            type: number
          - type: 'null'
          default: null
          description: Composite directional score [-1,1] (v3 total_score). Optional; the label is primary.
          title: Score
        is_backfill:
          default: false
          description: True if as_of is historical/backfilled rather than live
          title: Is Backfill
          type: boolean
        components:
          description: C1–C9 component anatomies
          items:
            $ref: '#/components/schemas/Component'
          minItems: 1
          title: Components
          type: array
        evidence:
          description: Source events backing the signal (required key; may be empty for technical-only
            signals)
          items:
            $ref: '#/components/schemas/Evidence'
          title: Evidence
          type: array
        confidence:
          $ref: '#/components/schemas/Confidence'
          description: Composite confidence + Evidence Quality Grade
        limitations:
          description: Explicit caveats — what this does NOT consider
          items:
            type: string
          minItems: 1
          title: Limitations
          type: array
        ledger_hash:
          description: SHA-256 over the canonical response (verification anchor)
          title: Ledger Hash
          type: string
        compliance:
          $ref: '#/components/schemas/Compliance'
          description: Required not-advice / provenance block
      required:
      - ticker
      - as_of
      - replay_id
      - signal
      - components
      - evidence
      - confidence
      - limitations
      - ledger_hash
      - compliance
      title: ResearchResponse
      type: object
      x-schema-version: v4.0
    Compliance:
      additionalProperties: false
      description: 'REQUIRED on every response. Mirrors sdk COMPLIANCE + adds v4 metadata.


        Hard regulatory constraint: this object is non-optional. A securities reviewer

        must be able to read it and conclude the response is research, not advice.'
      properties:
        not_advice:
          default: true
          description: Always true
          title: Not Advice
          type: boolean
        research_only:
          default: true
          description: Always true
          title: Research Only
          type: boolean
        not_registered_adviser:
          default: true
          description: Always true
          title: Not Registered Adviser
          type: boolean
        notice:
          default: Research and education only. Not investment advice. Signal labels are research classifications,
            not buy/sell recommendations. YUCLAW is not a registered investment adviser.
          description: Locked not-advice notice (mirrors sdk COMPLIANCE_NOTICE).
          title: Notice
          type: string
        jurisdiction:
          default: US
          description: Regulatory jurisdiction the notice is written for
          title: Jurisdiction
          type: string
        model_id:
          description: Extraction model id (e.g. yuclaw-llm-70b)
          title: Model Id
          type: string
        prompt_version:
          description: Extraction prompt version (e.g. v2)
          title: Prompt Version
          type: string
      required:
      - model_id
      - prompt_version
      title: Compliance
      type: object
    Component:
      additionalProperties: false
      description: One C1–C9 component anatomy. Internal `details` are deliberately excluded.
      properties:
        key:
          description: Component id, c1..c9
          pattern: ^c[1-9]$
          title: Key
          type: string
        name:
          description: Human-readable component name
          title: Name
          type: string
        score:
          description: Directional score [-1,1]
          maximum: 1.0
          minimum: -1.0
          title: Score
          type: number
        confidence:
          description: Component self-confidence [0,1]
          maximum: 1.0
          minimum: 0.0
          title: Confidence
          type: number
        weight:
          description: Composite weight (v3 COMPONENT_WEIGHTS)
          maximum: 1.0
          minimum: 0.0
          title: Weight
          type: number
        rationale:
          default: ''
          description: Short human-readable justification
          title: Rationale
          type: string
        evidence_ids:
          description: event_ids (in this response's `evidence`) that fed this component; empty for purely
            technical/macro components (C1–C5, C7, C9).
          items:
            type: string
          title: Evidence Ids
          type: array
        implemented:
          default: true
          description: False if this component is a stub (confidence forced 0)
          title: Implemented
          type: boolean
      required:
      - key
      - name
      - score
      - confidence
      - weight
      title: Component
      type: object
    Confidence:
      additionalProperties: false
      description: Overall confidence + bucketed Evidence Quality Grade.
      properties:
        value:
          description: Composite confidence [0,1] (v3 composite_confidence)
          maximum: 1.0
          minimum: 0.0
          title: Value
          type: number
        grade:
          $ref: '#/components/schemas/EvidenceGrade'
          description: Bucketed Evidence Quality Grade
        basis:
          default: ''
          description: One-line explanation of how the grade was derived
          title: Basis
          type: string
      required:
      - value
      - grade
      title: Confidence
      type: object
    Evidence:
      additionalProperties: false
      description: A single source event backing the signal. raw_excerpt is SourceLock-verified.
      properties:
        event_id:
          description: Stable event identifier
          title: Event Id
          type: string
        event_type:
          description: Locked extraction vocabulary (R2-validated)
          title: Event Type
          type: string
        source_url:
          description: Canonical source (e.g. SEC primary document)
          title: Source Url
          type: string
        accession_number:
          anyOf:
          - pattern: ^\d{10}-\d{2}-\d{6}$
            type: string
          - type: 'null'
          default: null
          description: SEC accession (canonical) when source is an EDGAR filing; null otherwise.
          title: Accession Number
        ledger_hash:
          description: Per-event integrity hash (events.content_hash) — ledger anchor
          title: Ledger Hash
          type: string
        available_as_of:
          description: When this evidence became knowable (point-in-time)
          format: date-time
          title: Available As Of
          type: string
        raw_excerpt:
          anyOf:
          - maxLength: 400
            type: string
          - type: 'null'
          default: null
          description: Verbatim, SourceLock-verified excerpt from the source (<=400 chars).
          title: Raw Excerpt
        direction:
          anyOf:
          - maximum: 1
            minimum: -1
            type: integer
          - type: 'null'
          default: null
          description: -1/0/1 directional sign
          title: Direction
        magnitude:
          anyOf:
          - maximum: 1.0
            minimum: 0.0
            type: number
          - type: 'null'
          default: null
          description: Event magnitude [0,1]
          title: Magnitude
        llm_confidence:
          anyOf:
          - maximum: 1.0
            minimum: 0.0
            type: number
          - type: 'null'
          default: null
          description: Extraction confidence [0,1]
          title: Llm Confidence
        cascade_depth:
          anyOf:
          - minimum: 0
            type: integer
          - type: 'null'
          default: null
          description: Depth if a cascade child, else null/0
          title: Cascade Depth
      required:
      - event_id
      - event_type
      - source_url
      - ledger_hash
      - available_as_of
      title: Evidence
      type: object
    EvidenceGrade:
      description: 'Bucketed Evidence Quality Grade (per ChatGPT review).


        Communicates *how well-supported* the signal is, independent of direction.

        Deriving rule lives in `Confidence.grade_for()` — deterministic, auditable.'
      enum:
      - A
      - B
      - C
      - Insufficient
      title: EvidenceGrade
      type: string
    SignalLabel:
      description: 'The locked public signal vocabulary (mirrors sdk.yuclaw_py PUBLIC_LABELS).


        Ordered most-bullish → most-bearish. These are RESEARCH CLASSIFICATIONS, not

        buy/sell recommendations. SELL / SHORT / BUY are intentionally absent.'
      enum:
      - STRONG_BULLISH
      - BULLISH
      - NEUTRAL
      - WATCH
      - WEAKENING
      - RISK_ALERT
      - NEGATIVE_EVENT
      - BEARISH_WATCH
      title: SignalLabel
      type: string
